@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background: linear-gradient(45deg, #F0E341,#F0C755, #F0A147) no-repeat;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 2.5rem 0;
}

.perfilPicture {
    display: flex;
    justify-content: center;

    animation: perfilIn 0.86s ease ;
}

.perfilPicture img {
    width: 9rem;
    border-radius: 50%
}
 
.linkContainer {
    width: 100%;
    height: 17.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.linkInput {
    width: 20rem;
    height: 2.5rem;

    margin-top: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(to right, #F27405,  #F28705) ;

    border-radius: 18px;
    box-shadow: 2px 3px 5px rgba(156, 129, 56, 0.35);

    animation: perfilIn 1.01s ease-out ;
}

.linkInput:hover {
    opacity: 0.8;

}

.linkInput a {
    text-decoration: none;
}

.linkInput p {
    color: #000;
}

.footer {
    color: #1E181F;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Playfair Display', serif;

    animation: perfilIn 1s ease ;
}

/*Animações ==================================================================*/

@keyframes perfilIn {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}
